html {
    background-color: black;
    color: deeppink;
}

input {
    background-color: violet;
    margin: 1em;
}

input:disabled {
    background-color: gray;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main > section {
    margin: 1em;
    border: 1px solid darkmagenta;
}

main > section:nth-child(2) {
    align-self: stretch;
}

.checkbox-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.number-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button {
    background-color: cyan;
    border: 1px solid magenta;
}

p {
    border: 1px solid darkmagenta;
    padding: 1em;
}
