html {
    background-color: black;
    color: deeppink;
}

/*
Support for vertical range sliders is abysmal,
so include a webkit quirk in addition to the Gecko orient
*/
input[type="range"] {
    -webkit-appearance: slider-vertical;
    margin-right: 1em;
}

.range-container {
    text-align: center;
}

/**/
